@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root {
    --color-body: #b6cbce;
    --color-heading: #eef3db;
    --color-base: #033f47;
    --color-base2: #022a30;
    --color-brand: #e0f780;
    --color-brand2: #deff58;
    --sidbar-width: 240px;
    --font-base: "Bai Jamjuree";
}

body{
    background-color: var(--color-base2);
    color:var(--color-body);
    font-family: var(--font-base),sans-serif;
    overflow-x: hidden;
}
/*navbar*/

.navbar .nav-link {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}

.navbar .nav-link:hover {
    color: var(--color-brand);
}

.navbar .nav-link.active {
    color: var(--color-brand);
}

/*navbar*/

/*skills*/

.shadow-effect {
    box-shadow: -6px 6px 0 0 rgba(255, 255, 255, 0.3);
}

/*skills*/

/*SOCIAL-ICONS*/
.social-icons{
    font-size:32px;
    color:var(--color-brand2);
    
}
/*SOCIAL ICONS*/

.full-height{
    min-height:100vh;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    border-bottom:2px solid rgba(255, 255, 255, 0.1);
}

@media(min-width:992px){
    .navbar{
        min-height:100vh;
        width:250px;
        background:linear-gradient(rgba(3, 63, 71, 0.9), rgba(3, 63, 71, 0.9)),url("../images/sidebar.jpg");
       background-position:cover;
    }

 #content-wrapper{
    padding-left: 290px;
 }
 
}
